---
- name: Set Facts
  set_fact:
    container_name: 'homepage'

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ docker_configs }}/{{container_name}}"
    - "{{ docker_configs }}/{{container_name}}/config"

- name: Create the {{container_name}} container
  docker_container:
    name: homepage
    image: ghcr.io/gethomepage/homepage:v0.8.13
    restart_policy: always
    recreate: true
    networks:
      - name: traefik
    env:
      LOG_LEVEL: debug
    volumes:
      - /mnt/nfs/docker/homepage/config:/app/config 
      - /opt/dashboard-icons:/app/public/icons
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    labels:
      traefik.enable=true
      traefik.http.routers.{{container_name}}.rule=Host(`{{container_name}}.{{traefik_domain}}`)
      traefik.http.routers.{{container_name}}.entrypoints=https
      traefik.http.routers.{{container_name}}.tls.certresolver=cloudflare   